li {
  list-style-type: none;
}

.form-filters {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: rgb(196, 195, 194);
  max-width: 960px;
  padding: 20px 5px;
}

.form-filters input {
  padding: 5px;
}
